<div class="shadow p-5 m-5 bg-body rounded">
  <div class="d-flex flex-column gap-3">
    <h1 class="fs-1 fw-bold">View Orders</h1>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Order ID</th>
        <th scope="col">User</th>
        <th scope="col">Total</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let orderDetail of orderDetails">
        <th scope="row">{{orderDetail.id}}</th>
        <td>{{orderDetail.user.firstName}}</td>
        <td>{{orderDetail.total}}</td>
        <div class="d-flex gap-3">
          <button class="btn btn-primary" data-bs-target="#orderModal" data-bs-toggle="modal">
            <fa-icon [icon]="viewIcon.icon" [size]="viewIcon.size"></fa-icon>
          </button>
          <button class="btn btn-danger">
            <fa-icon [icon]="deleteIcon.icon" [size]="deleteIcon.size"></fa-icon>
          </button>
        </div>
      </tr>
      </tbody>
    </table>
    <nav class="d-flex justify-content-center">
      <ul class="pagination">
        <li class="page-item disabled">
          <a aria-disabled="true" class="page-link" tabindex="-1">Previous</a>
        </li>
        <li aria-current="page" class="page-item active">
          <a class="page-link">1</a>
        </li>
        <li class="page-item">
          <a class="page-link">2</a>
        </li>
        <li class="page-item"><a class="page-link">3</a></li>
        <li class="page-item">
          <a class="page-link">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<!-- Order Modal -->
<div aria-hidden="true" aria-labelledby="orderModalLabel" class="modal fade" id="orderModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderModalLabel">Modal title</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="Order details">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Item ID</th>
            <th scope="col">ProductModel</th>
            <th scope="col">Quantity</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Blue Shirt</td>
            <td>2</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Black Hoodie</td>
            <td>3</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
      </div>
    </div>
  </div>
</div>
