<div class="d-flex flex-column gap-5 px-4">
  <div class="d-flex gap-5 justify-content-around">
    <i class="fa-solid fa-circle-user fa-8x"></i>
    <fa-icon [icon]="['fas', 'circle-user']" size="10x"></fa-icon>
    <div class="text-start">
      <h3 class="fs-1">Quinn Frost</h3>
      <small class="fw-lighter fst-italic">Account created on 5 April 2022 14:52pm</small>
    </div>
    <div></div>
  </div>
  <div>
    <form class="row g-3">
      <div class="mb-3 col-7">
        <label class="form-label">Email address</label>
        <input type="email" class="form-control">
      </div>
      <div class="mb-3 col-7">
        <label class="form-label">Current Password</label>
        <input type="password" class="form-control">
      </div>
      <div class="mb-3 col-7">
        <label class="form-label">New Password</label>
        <input type="password" class="form-control">
      </div>
      <div>
        <button type="submit" class="btn btn-outline-primary px-5">Submit</button>
      </div>
    </form>
  </div>
</div>
