<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>All Products</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"/>
  <link rel="stylesheet" href="product.component.css"/>
</head>



<div class="d-flex gap-5 container align-items-start">
  <!--Filter-->
  <div class="d-inline-flex flex-column shadow p-5 bg-body rounded gap-4">
    <h3 class="fs-3 fw-semibold">Filters</h3>
    <!--Filter by price-->
    <div class="d-flex flex-column">
      <p class="fs-4">Price</p>
      <div class="row g-3">
        <div class="col">
          <input class="form-control" placeholder="Min" type="text">
        </div>
        <div class="col">
          <input class="form-control" placeholder="Max" type="text">
        </div>
      </div>
    </div>
    <!--Filter by category-->
    <div class="d-flex flex-column">
      <p class="fs-4">Category</p>
      <div class="d-flex flex-column">
        <a *ngFor="let category of categoryFilters">
          {{category}}
        </a>
      </div>
    </div>
    <!--Filter by availability-->
    <div>
      <p class="fs-4">Availability</p>
      <div>
        <div class="form-check">
          <input class="form-check-input" id="availabilityCheckBox" type="checkbox" value="">
          <label class="form-check-label" for="availabilityCheckBox">In Stock</label>
        </div>
      </div>
    </div>
  </div>
  <!--All Products-->
  <div class="row gy-2">
    <div *ngFor="let product of products" class="col-4">
      <app-product-card [product]="product" [showAddCartBtn]="true"></app-product-card>
    </div>
    <!--- Start of Product Banner--->
    <section class="product-banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="product-content">
              <h1> Explore products</h1>
              <p> Lacus viverra vitae congue eu consequat ac felis donec.</p>
              <p> Lacus viverra vitae congue eu consequat ac felis donec.</p>
              <p>Nec feugiat in fermentum posuere urna.</p>
            </div>

          </div>
          <div class="col-lg-6">
            <div class="product-img">
              <img src="../../../../../assets/WeAreCPUT.png" alt="CPUT Logo" >
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--End  of Product Banner---->

    <!--- Start of New content header---->
    <section class="product-newsec">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="product-new-content">
              <h1> New In</h1>
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
              <p> ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--- End  of New content header ---->


    <!--Body- New Products-->
    <!--<body-->


    <!--T-shirt-->
    <div class="container">
      <div class="card">
        <div class="imgBx">
          <img src="../../../../../assets/tw.png">

          <ul class="action">
            <li >
              <i class="fa fa-heart" aria-hidden="true"></i>
              <span> Add to Wishlist</span>
            </li>
            <li >
              <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
              <span> Add to Cart</span>
            </li>
          </ul>

        </div>
        <div class="content">
          <div class="productName">
            <h3> Round neck T-shirt</h3>
          </div>
          <div class="price_rating">
            <h2>R300.00 </h2>
            <div class="rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>

      <!/T-shirt>

      <!hoodie>
      <div class="card">
        <div class="imgBx">
          <img src="../../../../../assets/hoodie.png">
          <ul class="action">
            <li >
              <i class="fa fa-heart" aria-hidden="true"></i>
              <span> Add to Wishlist</span>
            </li>
            <li >
              <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
              <span> Add to Cart</span>
            </li>
          </ul>

        </div>
        <div class="content">
          <div class="productName">
            <h3> Pullover Hoodie</h3>
          </div>
          <div class="price_rating">
            <h2>R500.00 </h2>
            <div class="rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <!/hoodie>

      <!Tote bag>
      <div class="card">
        <div class="imgBx">
          <img src="../../../../../assets/tote.png">
          <ul class="action">
            <li >
              <i class="fa fa-heart" aria-hidden="true"></i>
              <span> Add to Wishlist</span>
            </li>
            <li >
              <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
              <span> Add to Cart</span>
            </li>
          </ul>


        </div>
        <div class="content">
          <div class="productName">
            <h3> Tote bag</h3>
          </div>
          <div class="price_rating">
            <h2>R350.00 </h2>
            <div class="rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>

            </div>
          </div>
        </div>
      </div>
      <!Tote bag>

      <!Mug>
      <div class="card">
        <div class="imgBx">
          <img src="../../../../../assets/mug.png">
          <ul class="action">
            <li >
              <i class="fa fa-heart" aria-hidden="true"></i>
              <span> Add to Wishlist</span>
            </li>
            <li >
              <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
              <span> Add to Cart</span>
            </li>
          </ul>

        </div>
        <div class="content">
          <div class="productName">
            <h3>Coffee mug</h3>
          </div>
          <div class="price_rating">
            <h2>R200.00 </h2>
            <div class="rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star grey" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!Mug>
    <!--End of New Products-->


    <br>
    <br>
    <br>
    <br>

    <!--Shop all-->

    <!-- Start of Shop all header---->
    <section class="product-shopallsec">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="product-shopall-content">
              <h1> Shop All</h1>
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
              <p> ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End  of Shop all header ---->

    <!Sweatshirt>
    <div class="container">
      <div class="card">
        <div class="imgBx">
          <img src="../../../../../assets/sweartshirt.png">

          <ul class="action">
            <li >
              <i class="fa fa-heart" aria-hidden="true"></i>
              <span> Add to Wishlist</span>
            </li>
            <li >
              <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
              <span> Add to Cart</span>
            </li>
          </ul>

        </div>
        <div class="content">
          <div class="productName">
            <h3> Oversized crew neck sweater</h3>
          </div>
          <div class="price_rating">
            <h2>R350.00 </h2>
            <div class="rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <!/Sweat-shirt>

      <!hoodie>
      <div class="card">
        <div class="imgBx">
          <img src="../../../../../assets/hoodie.png">
          <ul class="action">
            <li >
              <i class="fa fa-heart" aria-hidden="true"></i>
              <span> Add to Wishlist</span>
            </li>
            <li >
              <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
              <span> Add to Cart</span>
            </li>
          </ul>

        </div>
        <div class="content">
          <div class="productName">
            <h3> Pullover Hoodie</h3>
          </div>
          <div class="price_rating">
            <h2>R500.00 </h2>
            <div class="rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <!/hoodie>

      <!lanyard>
      <div class="card">
        <div class="imgBx">
          <img src="../../../../../assets/lanyard.png">
          <ul class="action">
            <li >
              <i class="fa fa-heart" aria-hidden="true"></i>
              <span> Add to Wishlist</span>
            </li>
            <li >
              <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
              <span> Add to Cart</span>
            </li>
          </ul>

        </div>
        <div class="content">
          <div class="productName">
            <h3> Logo Lanyard</h3>
          </div>
          <div class="price_rating">
            <h2>R100.00 </h2>
            <div class="rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>

            </div>
          </div>
        </div>
      </div>
      <!Lanyard>

      <!USB>
      <div class="card">
        <div class="imgBx">
          <img src="../../../../../assets/usb.png">
          <ul class="action">
            <li >
              <i class="fa fa-heart" aria-hidden="true"></i>
              <span> Add to Wishlist</span>
            </li>
            <li >
              <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
              <span> Add to Cart</span>
            </li>
          </ul>

        </div>
        <div class="content">
          <div class="productName">
            <h3>USB 16GB</h3>
          </div>
          <div class="price_rating">
            <h2>R200.00 </h2>
            <div class="rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star grey" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!USB>

    <div class="container">
      <div class="card">
        <div class="imgBx">
          <img src="../../../../../assets/tw.png">

          <ul class="action">
            <li >
              <i class="fa fa-heart" aria-hidden="true"></i>
              <span> Add to Wishlist</span>
            </li>
            <li >
              <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
              <span> Add to Cart</span>
            </li>
          </ul>

        </div>
        <div class="content">
          <div class="productName">
            <h3> Round neck T-shirt</h3>
          </div>
          <div class="price_rating">
            <h2>R300.00 </h2>
            <div class="rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>

      <!/T-shirt>

      <!hoodie>
      <div class="card">
        <div class="imgBx">
          <img src="../../../../../assets/hoodie.png">
          <ul class="action">
            <li >
              <i class="fa fa-heart" aria-hidden="true"></i>
              <span> Add to Wishlist</span>
            </li>
            <li >
              <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
              <span> Add to Cart</span>
            </li>
          </ul>

        </div>
        <div class="content">
          <div class="productName">
            <h3> Pullover Hoodie</h3>
          </div>
          <div class="price_rating">
            <h2>R500.00 </h2>
            <div class="rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <!/hoodie>

      <!Tote bag>
      <div class="card">
        <div class="imgBx">
          <img src="../../../../../assets/tote.png">
          <ul class="action">
            <li >
              <i class="fa fa-heart" aria-hidden="true"></i>
              <span> Add to Wishlist</span>
            </li>
            <li >
              <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
              <span> Add to Cart</span>
            </li>
          </ul>


        </div>
        <div class="content">
          <div class="productName">
            <h3> Tote bag</h3>
          </div>
          <div class="price_rating">
            <h2>R350.00 </h2>
            <div class="rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>

            </div>
          </div>
        </div>
      </div>
      <!Tote bag>

      <!Mug>
      <div class="card">
        <div class="imgBx">
          <img src="../../../../../assets/mug.png">
          <ul class="action">
            <li >
              <i class="fa fa-heart" aria-hidden="true"></i>
              <span> Add to Wishlist</span>
            </li>
            <li >
              <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
              <span> Add to Cart</span>
            </li>
          </ul>

        </div>
        <div class="content">
          <div class="productName">
            <h3>Coffee mug</h3>
          </div>
          <div class="price_rating">
            <h2>R200.00 </h2>
            <div class="rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star grey" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!Mug>

    <!End of Shop all-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
            integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
            crossorigin="anonymous"></script>
    <!--/body-->


</div>
</div>
</html>
