<div class="d-flex gap-5 container align-items-start">
  <!--Filter-->
  <div class="d-inline-flex flex-column shadow p-5 bg-body rounded gap-4">
    <h3 class="fs-3 fw-semibold">Filters</h3>
    <!--Filter by price-->
    <div class="d-flex flex-column">
      <p class="fs-4">Price</p>
      <div class="row g-3">
        <div class="col">
          <input class="form-control" placeholder="Min" type="text">
        </div>
        <div class="col">
          <input class="form-control" placeholder="Max" type="text">
        </div>
      </div>
    </div>
    <!--Filter by category-->
    <div class="d-flex flex-column">
      <p class="fs-4">Category</p>
      <div class="d-flex flex-column">
        <a *ngFor="let category of categoryFilters">
          {{category}}
        </a>
      </div>
    </div>
    <!--Filter by availability-->
    <div>
      <p class="fs-4">Availability</p>
      <div>
        <div class="form-check">
          <input class="form-check-input" id="availabilityCheckBox" type="checkbox" value="">
          <label class="form-check-label" for="availabilityCheckBox">In Stock</label>
        </div>
      </div>
    </div>
  </div>
  <!--All Products-->
  <div class="row gy-2">
    <div *ngFor="let product of products" class="col-4">
      <app-product-card [product]="product" [showAddCartBtn]="true"></app-product-card>
    </div>
  </div>
</div>
