
<div class="container">

  <h1>Shopping Cart</h1>

  <div class="cart">

    <div class="products">

      <div class="product">

        <img src="..." class="img-thumbnail" alt="...">

        <div class="product-info">

          <h3 class="product-name">Cput Hoodie</h3>

          <h4 class="product-price">R 150.00</h4>


          <p class="product-quantity">Qnt: <input value="1" name="">

          <button class="product-remove">
            <i class="fa fa-trash" aria-hidden="true"></i>
            <span class="remove">Remove</span>
          </button>

        </div>

      </div>

      <div class="product">

        <img src="..." class="img-thumbnail" alt="...">

        <div class="product-info">

          <h3 class="product-name">Black Cput Shirt</h3>

          <h4 class="product-price">R 85.00</h4>

          <p class="product-quantity">Qnt: <input value="1" name="">

          <button class="product-remove">
            <i class="fa fa-trash" aria-hidden="true"></i>
            <span class="remove">Remove</span>
          </button>

        </div>

      </div>

    </div>

    <div class="cart-total">

      <p>
        <span>items</span>
        <span>2</span>
      </p>

      <p>
        <span>sub total</span>
        <span>R 235.00</span>
      </p>

      <p>
        <span>Tax</span>
        <span>R 15.00</span>
      </p>

      <p>
        <span>Total</span>
        <span>R 250.00</span>
      </p>

      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cartModel">
        Check Out
      </button>
      <div class="modal" id="cartModel" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Payment</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h6 class="Name">Full Name</h6>
              <input type="text" name="firstname" placeholder="name">
              <h6 class="Bank">Select Bank</h6>
              <select name = "Bank" id="bank">
                <option value="Capitec" >Capitec</option>
                <option value="Absa">Absa</option>
                <option value="Standard Bank">Standard Bank</option>
                <option value="Ned Bank" >Ned Bank</option>
              </select>
              <h6 class="Address">Address</h6>
              <input type="text"  name="firstname" placeholder="name">
              <h6 class="City/Town">City/Twon</h6>
              <input type="text" name="firstname" placeholder="name">
              <h6 class="Card number">Credit Cart Number</h6>
              <input type="text" name="firstname" placeholder="name">

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Check Out</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
</div>



