<div class="container-sm d-flex flex-column mb-5 gap-5">
  <h1 class="fs-1 fw-bold">
    <a class="text-dark" routerLink="/cart">Shopping Cart</a>
  </h1>
  <div class="d-flex justify-content-between gap-5 align-items-start">
    <!--Cart Item-->
    <div class="d-inline-flex flex-column flex-fill">
      <ng-container *ngIf="cartItems.length === 0">
        <span class="fs-3 fst-italic">
          No Items in your Cart. Shop at <a routerLink="">CPUT E-Store</a> for the best prices!
        </span>
      </ng-container>
      <app-cart-item (removeProductFromCart)="removeCartItem(cartItem.id)" *ngFor="let cartItem of cartItems"
                     [cartItem]="cartItem">
      </app-cart-item>
    </div>
    <!--Cart Summary-->
    <div class="shadow p-5 mb-5 bg-body rounded flex-shrink-0">
      <h3>Cart Summary</h3>
      <p class="fs-5"><span class="fw-semibold">Items: </span>{{cartSummary.items}}</p>
      <p class="fs-5"><span class="fw-semibold">Sub Total: </span>R {{cartSummary.subTotal}}</p>
      <p class="fs-5"><span class="fw-semibold">VAT: </span>R {{cartSummary.vat}}</p>
      <p class="fs-5"><span class="fw-semibold">Total: </span>R {{cartSummary.total}}</p>
      <button class="btn btn-success w-100" data-bs-target="#cartModel" data-bs-toggle="modal" type="button">
        Check Out
      </button>
    </div>
  </div>
</div>

<!--Checkout Modal-->
<div class="modal" id="cartModel" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Payment</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <form>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label" for="fullName">Full Name</label>
            <input class="form-control" id="fullName" type="text">
          </div>
          <div class="mb-3">
            <label class="form-label" for="bank">Bank</label>
            <select class="form-select" id="bank">
              <option selected>Select bank</option>
              <option value="1">Absa</option>
              <option value="3">FNB</option>
              <option value="3">Ned Bank</option>
              <option value="2">Standard Bank</option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label" for="address">Address</label>
            <input class="form-control" id="address" type="text">
          </div>
          <div class="mb-3">
            <label class="form-label" for="cardNumber">Debit/Credit Card Number</label>
            <input class="form-control" id="cardNumber" type="text">
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
          <button class="btn btn-primary" type="button">Proceed</button>
        </div>
      </form>
    </div>
  </div>
</div>
