<!-- User Menu -->
<div class="d-flex flex-column gap-5">
  <div class="list-group px-4 text-nowrap text-start" role="tablist">
    <a class="list-group-item list-group-item-action pe-5 active" routerLink="/user-profile"
       routerLinkActive="active" data-bs-toggle="list">
      Profile
    </a>
    <a class="list-group-item list-group-item-action pe-5" routerLink="/user-profile/view-purchases"
       routerLinkActive="active" data-bs-toggle="list">
      View Purchases
    </a>
  </div>
  <div class="px-4 d-inline-flex">
    <a role="button" class="btn btn-outline-secondary col-12">Logout</a>
  </div>
</div>
