<div class="d-flex flex-column gap-5 px-4">
  <div class="d-flex gap-5 justify-content-around">
    <i class="fa-solid fa-circle-user fa-8x"></i>
    <fa-icon [icon]="['fas', 'circle-user']" size="10x"></fa-icon>
    <div class="text-start">
      <h3 class="fs-1">{{currentUser.firstName}} {{currentUser.lastName}}</h3>
      <small class="fw-lighter fst-italic">Account created on {{currentUser.createdAt}}</small>
    </div>
    <div></div>
  </div>
  <div>
    <form class="row g-3">
      <div class="mb-3 col-7">
        <label class="form-label">Email address</label>
        <input class="form-control" disabled type="email" value="{{currentUserLoginInfo.email}}">
      </div>
      <div class="mb-3 col-7">
        <label class="form-label">Current Password</label>
        <input class="form-control" disabled type="password" value="{{currentUserLoginInfo.password}}">
      </div>
    </form>
  </div>
</div>
