<footer class="text-white bg-dark py-3 mt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 d-flex gap-3">
        <a class="fs-2 fw-bold text-white" routerLink="">CPUT E-Store</a>
      </div>
      <div class="col-6 d-flex flex-column gap-2">
        <p class="fs-4 fw-bold">Quick Links</p>
        <a routerLink="/products">All Products</a>
        <a>Apparels</a>
        <a>Accessories</a>
      </div>
      <div class="col-12 text-center pt-5 pb-2">Term & Service | Copyright 2022</div>
    </div>
  </div>
</footer>
