<div class="d-flex flex-column gap-3 px-4">
  <h1 class="fs-1 fw-bold">View Purchases</h1>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price (ZAR)</th>
      <th scope="col">Date bought</th>
      <th scope="col">Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Black Shirt</td>
      <td>89.99</td>
      <td>15 April</td>
      <td>2</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Black Shirt</td>
      <td>89.99</td>
      <td>15 April</td>
      <td>2</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Black Shirt</td>
      <td>89.99</td>
      <td>15 April</td>
      <td>2</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Black Shirt</td>
      <td>89.99</td>
      <td>15 April</td>
      <td>2</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Black Shirt</td>
      <td>89.99</td>
      <td>15 April</td>
      <td>2</td>
    </tr>
    </tbody>
  </table>
  <nav class="d-flex justify-content-center">
    <ul class="pagination">
      <li class="page-item disabled">
        <a aria-disabled="true" class="page-link" tabindex="-1">Previous</a>
      </li>
      <li aria-current="page" class="page-item active">
        <a class="page-link">1</a>
      </li>
      <li class="page-item">
        <a class="page-link">2</a>
      </li>
      <li class="page-item"><a class="page-link">3</a></li>
      <li class="page-item">
        <a class="page-link">Next</a>
      </li>
    </ul>
  </nav>
</div>
