<!-- Admin Menu -->
<div class="d-flex flex-column gap-5">
  <div class="list-group px-4 text-nowrap text-start" role="tablist">
    <a class="list-group-item list-group-item-action pe-5 active" routerLink="/admin-profile"
       routerLinkActive="active" data-bs-toggle="list">
      Profile
    </a>
    <a class="list-group-item list-group-item-action pe-5" routerLink="/admin-profile/users"
       routerLinkActive="active" data-bs-toggle="list">
      Users Management
    </a>
    <a class="list-group-item list-group-item-action pe-5" routerLink="/admin-profile/products"
       routerLinkActive="active" data-bs-toggle="list">
      Products Management
    </a>
    <a class="list-group-item list-group-item-action pe-5" routerLink="/admin-profile/orders"
       routerLinkActive="active" data-bs-toggle="list">
      Orders Management
    </a>
  </div>
  <div class="px-4 d-inline-flex">
    <a role="button" class="btn btn-outline-secondary col-12">Logout</a>
  </div>
</div>
<!-- End of Admin Menu -->
